@import url("https://fonts.googleapis.com/css2?family=Readex+Pro:wght@160..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .icons_Wripper {
    @apply md:w-[5rem] md:h-[5rem] w-[5rem] h-[5rem]  rounded-full absolute border-4 border-primary_main flex justify-center items-center z-40;
  }
  .text_shadow {
    text-shadow: 1px 1px 2px #8095c3, 0 0 1em blue, 0 0 0.2em blue;
  }
  .hero_bg {
    @apply bg-cover bg-center bg-gradient-to-r from-[rgb(234,237,240,0.5)] to-[rgba(235,238,241,0.4)];
  }
  .hero_bg {
    @apply bg-[url('/src/assets/gradient_bg.png')];
  }
}

body {
  font-family: "Readex Pro", sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
  border-radius: 30px;
}
::-webkit-scrollbar-track {
  background: #000;
  border-radius: 20px;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(to top, #1c3d5b, #fff);
  height: 5px;
  border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to top, blue, white, #1c3d5b);
}

.neu_card {
  box-shadow: inset -6px -6px 20px rgba(255, 255, 255, 0.5),
    inset 6px 6px 20px rgba(0, 0, 0, 0.5);
}

/* .neu_card:hover {
  box-shadow: -6px -6px 20px rgba(255, 255, 255, 1),
    6px 6px 20px rgba(0, 0, 0, 0.1);
} */

.neu_card_1 {
  box-shadow: inset -6px -6px 20px rgba(255, 255, 255, 0.5),
    inset 6px 6px 20px rgba(0, 0, 0, 0.5);
}

.neu_card_2 {
  box-shadow: -10px -10px 20px rgba(255, 255, 255, 1),
    8px 8px 20px rgba(0, 0, 0, 0.1);
}

.neu_card_disciplines {
  box-shadow: -10px -10px 20px rgba(255, 255, 255, 0.3),
    8px 8px 20px rgba(0, 0, 0, 0.1);
}

.event_card {
  box-shadow: inset -10px -10px 20px rgba(255, 255, 255, 1),
    inset 8px 8px 20px rgba(0, 0, 0, 0.1);
}

.neu_icon {
  box-shadow: -6px -6px 20px rgba(255, 255, 255, 0.5),
    6px 6px 20px rgba(0, 0, 0, 0.5);
}

.neu_input {
  box-shadow: -3px -3px 8px rgba(255, 255, 255, 0.3),
    6px 6px 20px rgba(0, 0, 0, 0.3);
}

.neu_input_2 {
  box-shadow: inset -6px -6px 20px rgba(255, 255, 255, 0.5),
    inset 6px 6px 20px rgba(0, 0, 0, 0.5);
}

.bread_crum {
  box-shadow: -10px -10px 30px rgba(255, 255, 255, 1),
    10px 10px 20px rgba(0, 0, 0, 0.1);
  background: #ebeef1;
}

.tw_round {
  border-radius: 24% 76% 29% 71% / 71% 26% 74% 29%;
  box-shadow: inset -3px -3px 10px rgba(255, 255, 255, 0.5),
    inset 6px 6px 20px rgba(0, 0, 0, 0.5);
}

.tw_id {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.5),
    6px 6px 20px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.4);
}

.tw_id_line {
  background: rgba(75, 32, 140, 0.54);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border: 1px solid rgba(75, 32, 140, 0.57);
}

#item1 {
  animation: rotate1 6s linear infinite;
  cursor: pointer;
}

#item1:hover {
  animation-play-state: paused;
}

@keyframes rotate1 {
  0% {
    /* transform: rotate(0deg); */
    background: url(/src/assets/aboutimg4.jpg);
    background-position: center;
    background-size: cover;
  }
  50% {
    /* transform: rotate(180deg); */
    background: url(/src/assets/aboutimg2.jpg);
    background-position: center;
    background-size: cover;
  }
  100% {
    /* transform: rotate(360deg); */
    background: url(/src/assets/aboutimg1.jpg);
    background-position: center;
    background-size: cover;
  }
}
