@tailwind base;
@tailwind components;
@tailwind utilities;

#item1 {
  animation: rotate1 6s linear infinite;
  cursor: pointer;
}

#item1:hover {
  animation-play-state: paused;
}

@keyframes rotate1 {
  0% {
    /* transform: rotate(0deg); */
    background: url(./assets/hero1.jpg);
    background-position: center;
    background-size: cover;
  }
  50% {
    /* transform: rotate(180deg); */
    background: url(./assets/hero.jpg);
    background-position: center;
    background-size: cover;
  }
  100% {
    /* transform: rotate(360deg); */
    background: url(./assets/hero1.jpg);
    background-position: center;
    background-size: cover;
  }
}

::-webkit-scrollbar {
  width: 8px;
  border-radius: 30px;
}
::-webkit-scrollbar-track {
  background: #000;
  border-radius: 20px;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(to top, #1c3d5b);
  height: 5px;
  border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(#1c3d5b);
}
